* {
  padding: 0;
  margin: 0;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  font-size: 40px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  padding: 20px;
}

#navbar ul {
  float: right;
  display: flex;
  list-style-type: none;
}

#navbar ul li {
  padding: 20px;
  font-size: 30px;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.project-tile {
  font-size: 30px;
  text-align: center;
  margin-top: 300px;
  color: white;
}

.photo {
  height: 300px;
  width: 33.33%;
  margin-top: 30px;
  display: flex;
  padding: 5px 5px;
}

.btn {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 50%;
  background-color: black;
  color: white;
}

.ros {
  text-align: center;
  margin-top: 200px;
  color: white;
  font-size: 60px;
}

#dip {
  text-align: center;
  font-size: 20px;
  color: white;
}
